*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! ********************GENERAL************************ */
body{
    margin: 0;
    font-family: PT Sans;
}
button{
    background-color: white;
    color: #9792E4;
    border: none;
    padding: 0.8rem;
    border-radius: 1.45rem;
    font-weight: bold;
}
button:hover{
    font-style: italic;
    text-decoration: underline;
}

.background-container{
    background-color: white;
}

/* ! *************************************************** */

/* * HEADER */
header{
    height: 6rem;
}

#mega-container{
    padding: 1.25rem;
    position: fixed;
    height: 6rem;
    width: 100%;
    background-color: #0084FD;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    align-items: center;
}

#logo{
    height: 3rem;
}

.logo img{
    min-width: 100%;
}

#dimension-tablet{
    color: white;
    font-size: 2rem;
    display: none;
}

nav{
    height: 4rem;
    min-width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navigator{
    color: white;
}
.navigator:hover{
    text-decoration: #9792E4;
    font-weight: bold;
    text-decoration: underline;
}

/* ? -------------------------------------------------------- */
/* ?                    Tablet and Mobile                     */
/* ? -------------------------------------------------------- */

@media screen and (max-width: 1000px){
    .container{
        width: 95%;
    }
}

@media screen and (max-width: 810px){
    nav{
        display: none;
    }
    #dimension-tablet{
    display: block;
    }    
}


/* ? -------------------------------------------------------- */


/* * MAIN */

/* todo **************** INTRODUCTION ********************* */
.container-I{
    width: 65%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.75rem;
    justify-content: center;
}
    /* INIZIA il grande sub-contenitore di INTRODUCTION */
#big-sub-container-i{
    background-color:  #B5DDFF;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 2rem;
}

.sub-bsc-i{
    max-width: 45%;
}
.testo-blu{
    color: #0084FD;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.i-p-text{
    color: #607A8F;
    font-weight: bold;
    line-height: 1.75rem;
}

#blue{
    background-color: #0084FD;
    color: white;
    padding: 0.75rem 2.5rem;
}

#img-intro{
    object-fit: fill;
    max-width: 100%;
    margin-bottom: -3.5rem;
}

    /* FINISCE il grande sub-contenitore di INTRODUCTION */

    /* INIZIA il PICCOLO sub-contenitore di INTRODUCTION */
    
.small-sub-container-i{
    background-color:  #B5DDFF;
    max-width: 30%;
    text-align: center;
    padding: 1.5rem;
    border-radius: 2rem;
}
.testo-blu i{
    font-size: 6rem;
}

    /* FINISCE il PICCOLO sub-contenitore di INTRODUCTION */

/* ? -------------------------------------------------------- */
/* ?                         Tablet                           */
/* ? -------------------------------------------------------- */
@media screen and (max-width: 1000px){
    .container-I{
        width: 95%;
    }
    #big-sub-container-i{
        display: flex;
        flex-wrap: wrap;
    }
    .sub-bsc-i{
        max-width: 95%;
        margin-top: 2rem;
    }
}

/* ? -------------------------------------------------------- */
/* ?                           Mobile                         */
/* ? -------------------------------------------------------- */
@media screen and (max-width: 600px){
  .container-I{
    display: block;
  }  
  #big-sub-container-i{
   max-width: 95%;
   margin-bottom: 1.5rem;
   padding: 1rem;
  }

  .sub-bsc-i{
    margin-bottom: 2rem;

}
  .small-sub-container-i{
    max-width: 95%;
    margin-bottom: 1.5rem;

  }
}



/* ? -------------------------------------------------------- */


/* todo **************** FINE INTRODUCTION ******************* */

/* todo **************** PLANNING ********************* */

.container-p{
width: 50%;
margin: auto;
display: flex;
gap: 2rem;
justify-content: end;
padding: 1.25rem;
}
#container-left-p{
    max-width: 75%;
    padding: 6rem;
    }

#container-left-p h3{
    margin-top: 10rem;
    color: white;
    font-size: 2.5rem;
}

#container-left-p p{
    color: white;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 5rem;
}

#container-right-p{
    background-color: white;
    border-radius: 2rem;
    max-width: 40%;
    text-align: center;
    margin-top: 20rem;
    padding: 3rem;
}

#container-right-p h4{
    font-size: 2rem;
}

#container-right-p p{
    font-size: 1.5rem;
    font-style: italic;
}

.purple{
    background-color: #9792E4;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 50%;
    padding: 2rem 2.5rem;
}




#container-right-p img{
    max-height: 50%;
}

.img-p{
    object-fit: contain;
    max-width: 100%;
}

/* ? -------------------------------------------------------- */
/* ?                    Tablet and Mobile                     */
/* ? -------------------------------------------------------- */
@media screen and (max-width: 1700px) {
    .container-p{
        width: 65%;
    }
}

@media screen and (max-width: 1500px) {
    .container-p{
        width: 75%;
    }
}

@media screen and (max-width: 1300px) {
    .container-p{
        width: 85%;
    }
}

@media screen and (max-width: 1000px) {
    .container-p{
        width: 95%;
    }
}

@media screen and (max-width: 810px) {
    .container-p{
        display: block;
    }
    #container-left-p{
        min-width: 100%;
        padding: 1rem;
    }
    #container-right-p{
        min-width: 100%;
        margin-top: 3rem;
    }

}

/* ? -------------------------------------------------------- */
/* ?                         Mobile                           */
/* ? -------------------------------------------------------- */



/* todo **************** FINE PLANNING ********************* */

/* todo **************** TESTIMONIALS ********************* */
#sub-container-t{
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.container-info-t{
    background-color: #9792E4;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

/* todo **************** FINE TESTIMONIALS ********************* */
/* todo **************** BENEFITS ********************* */

.container-b{
    width: 60%;
    margin: 0 auto;
}
#flex-b{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sub-container-b{
    background-color: white;
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 30%;
    margin-bottom: 2rem;
}

/* todo **************** FINE BENEFITS ********************* */

/* todo **************** ABOUT US ********************* */

#container-a{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#sub-container-a-left{
max-width: 60%;
}

#sub-container-a-right{
max-width: 30%;
}


/* todo **************** FINE ABOUT US ********************* */

/* todo **************** CALL TO ACTION ********************* */

.container-cta{
    width: 40%;
    margin: 0 auto;
    text-align: center  ;
}

/* todo **************** FINE CALL TO ACTION ******************* */


/* * Footer */
#container-footer{
    width: 35%;
    margin: 0 auto;
    text-align: center;
}
/* ! DEBUG */
/* ? ******************************************************************************************************************************** */

main{
background-color: #9792E4;
min-height: 15rem;    
}

/* .container-I{
width: 65%;
min-height: 10rem;
background-color: beige;
} */

/* #big-sub-container-i{
min-height: 10rem;    
min-width: 15rem;
} */
    
/* .small-sub-container-i{
min-height: 10rem;    
min-width: 10rem;
} */

/* #container-left-p{
background-color: burlywood;
height: 200px;
width: 200px;
}

#container-right-p{
background-color: burlywood;
height: 200px;
width: 200px;
} */

.container-info-t{
    height: 200px;

}

/* ? ******************************************************************************************************************************** */

footer{
background-color: #333333;
height: 12rem;
}